#container
{
    display:flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid rgb(189, 189, 189);
    width: 80vw;
    height: auto;
    justify-content: space-around;
    border-radius: 50px;
}
.card
{
    box-sizing: border-box;
    width:120px;
    height: 180px;
    border: 1px solid black;
    margin: 30px 30px;
    background-image: url(../img/logo.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}
.ero-warning
{
    margin: 5vh auto;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}
button
{
    margin: 5vh auto;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    height: 5vh;
    border-radius: 30px;
    font-size: 15px;
    background-color:linear-gradient(176deg, rgba(255,255,255,1) 42%, rgba(203,203,203,1) 100%);
}
button:hover
{
    transition-duration: 1s;
    background-color: rgb(128, 128, 128);
}
button:active
{
    background-color:linear-gradient(176deg, rgba(255,255,255,1) 42%, rgb(158, 158, 158) 100%);
}
#ero-input
{
    margin: 0 auto;
    width: 20vw;
    text-align: center;
    border-radius: 4vh;
    height: 5vh;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
#rama
{
    margin: 10vh auto;
    border-radius: 50px;
    text-align: center;
    width: 80vw;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ero
{
    display:none;
    text-align: center;
    margin: 20vh auto;
}
#ero img
{
    height: 100%;
}
.ero-div
{
    margin: 5vh auto;
    height: 60vh;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5vh;
    width: 50vw;
    animation-name: ero;
    animation-duration: 2s;
}
.ero-text
{
    font-size: 2rem;
}
@keyframes ero
{
    0%
    {
        margin-left: 2000px;
        opacity: 0;
    }
    100%
    {
        margin-left: 0px;
        opacity: 1;
    }
}
@media(max-width: 600px)
{
    .ero-warning
    {
        font-size: 15px;
    }
}