a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 23px;
}

header {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(136, 136, 136) 100%);
}
header a {
  color: #000000;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}
.logo p {
  margin-right: 30px;
}
.logo img {
  height: 33px;
  transition-duration: 1s;
}
.logo img:hover {
  filter: saturate(2);
  filter: brightness(3);
}

.container {
  background-color: white;
  flex-grow: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  padding: 10px;
}
.header-container img {
  height: 70px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

.text-item {
  position: relative;
  cursor: default;
}

.text-item::after {
  content: "";
  background-color: black;
  height: 6px;
  position: absolute;
  width: 0%;
  bottom: -20px;
  left: 0;
  transition-duration: 0.5s;
}

.text-item:hover::after {
  width: 100%;
}

footer {
  margin-top: 40px;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(136, 136, 136) 100%);
}

.footer-authors {
  display: flex;
  height: auto;
  justify-content: space-around;
  font-size: 0.8rem;
  margin-bottom: 10vh;
}

.footer-authors-site h1 {
  margin-bottom: 20px;
  text-align: center;
}

.footer-authors-container {
  display: flex;
}

.footer-authors-item {
  text-align: center;
  padding: 10px;
}
.footer-authors-item .footer-authors-name {
  font-size: 1.4em;
}
.footer-authors-item .footer-authors-prof {
  font-size: 1.1em;
  margin-top: 10px;
  font-style: italic;
  width: 200px;
}

.footer-authors-img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px auto;
  box-shadow: 7px 5px 10px 2px rgba(0, 0, 0, 0.6);
}
.footer-authors-img img {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.footer-authors-img:hover {
  transform: scale(1.4);
  transition-duration: 1s;
}

.contact {
  background-color: rgb(136, 136, 136);
  font-size: 0.8rem;
}

.contact__container {
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FBFBFB;
}

.contact__item {
  display: flex;
  justify-content: space-between;
}

.contact svg {
  fill: #000000;
}

.contact svg:hover {
  fill: #FFFFFF;
}

.soc {
  width: 150px;
}

.social {
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(136, 136, 136) 100%);
}

.social:hover svg {
  fill: #FFFFFF;
}

@media (max-width: 1100px) and (min-width: 450px) {
  .header-container {
    font-size: 15px;
    margin: 0px 20px;
  }
  .footer-authors {
    flex-direction: column;
  }
  .footer-authors-site {
    margin: 0 auto;
  }
  .footer-authors-container {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .header-container {
    font-size: 12px;
    margin: 0px 10px;
  }
  .footer-authors {
    flex-direction: column;
  }
  .footer-authors-site {
    margin: 0 auto;
  }
  .footer-authors-container {
    flex-direction: column;
  }
  .contact__container {
    text-align: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */