body {
  height: 100vh;
}

#gameStart {
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 300;
  height: 100vh;
  position: relative;
}

#gameStart-button {
  height: 120px;
  width: 160px;
  background-color: rgb(14, 39, 0);
  border: 1px solid #0fa;
  border-radius: 20px;
  text-align: center;
  color: #0fa;
}

.gameStart-text {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
}

.intro {
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0 auto;
}

#game {
  display: none;
  background-color: black;
  background-image: url(1.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 300;
  height: 100vh;
  position: relative;
  -webkit-animation-name: gameStart;
          animation-name: gameStart;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

@-webkit-keyframes gameStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gameStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#buttonNovel {
  height: 140px;
  width: 200px;
  background-color: rgb(14, 39, 0);
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 300;
  border: 1px solid #0fa;
  border-radius: 20px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  text-align: center;
}

#buttonNovel:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 243, 75), 0 0 82px rgb(234, 255, 114), 0 0 92px rgb(182, 255, 11), 0 0 102px rgb(255, 217, 3), 0 0 151px rgb(239, 255, 12);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(240, 255, 35), 0 0 82px rgb(255, 196, 0), 0 0 92px rgb(251, 255, 27), 0 0 102px rgb(226, 228, 124), 0 0 151px rgb(241, 255, 116);
}

.buttonNovel-container {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

#buttonNovel:active {
  background-color: black;
  box-shadow: none;
  color: rgb(167, 167, 167);
}

.interface {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 3vh;
  width: 80vw;
}

.charpters_container {
  display: flex;
}
.charpters_container button {
  margin-right: 1vw;
  height: 30px;
  width: 70px;
  background-color: rgb(35, 85, 6);
  border: 1px solid rgb(117, 253, 63);
  border-radius: 20px;
  text-align: center;
  color: rgb(117, 253, 63);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa;
  box-shadow: 0 0 7px rgb(139, 231, 86), 0 0 10px rgb(112, 248, 85), 0 0 21px #fff, 0 0 42px #0fa;
}
.charpters_container button:disabled {
  background-color: rgb(14, 39, 0);
  border: 1px solid rgb(54, 114, 62);
  color: rgb(54, 114, 62);
  text-shadow: none;
  box-shadow: 0 0 7px rgb(44, 117, 1), 0 0 10px rgb(53, 138, 36), 0 0 21px #fff;
}
.charpters_container button:active {
  color: rgb(184, 224, 110);
  background-color: rgb(28, 134, 1);
}
.charpters_container button:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 243, 75), 0 0 82px rgb(234, 255, 114), 0 0 92px rgb(182, 255, 11), 0 0 102px rgb(255, 217, 3), 0 0 151px rgb(239, 255, 12);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(240, 255, 35), 0 0 82px rgb(255, 196, 0), 0 0 92px rgb(251, 255, 27), 0 0 102px rgb(226, 228, 124), 0 0 151px rgb(241, 255, 116);
}

#exit {
  margin-right: 1vw;
  height: 70px;
  width: 70px;
  background-color: rgb(51, 1, 1);
  border: 1px solid rgb(90, 26, 0);
  border-radius: 0 30px 30px 0px;
  text-align: center;
  color: rgb(167, 167, 167);
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px rgb(255, 78, 78), 0 0 42px rgb(255, 0, 55);
  box-shadow: 0 0 7px rgb(255, 8, 8), 0 0 10px rgb(139, 0, 0), 0 0 21px #fff, 0 0 42px rgb(238, 100, 100);
}

#exit:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(189, 0, 25), 0 0 82px rgb(248, 85, 85), 0 0 92px rgb(182, 255, 11), 0 0 102px rgb(255, 217, 3), 0 0 151px rgb(239, 255, 12);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(240, 255, 35), 0 0 82px rgb(255, 196, 0), 0 0 92px rgb(255, 8, 8), 0 0 102px rgb(255, 8, 82), 0 0 151px rgb(255, 56, 56);
}

#text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=RayOfHope.css.map */